@import "variable";
.default-bg {
  background-color: $default-bg;
}


@for $i from 1 through 100 {
  .font-size-#{$i} {
    font-size: #{$i}px !important;
  }
  .margin-#{$i} {
    margin: #{$i}px !important;
  }
  .margin-top-#{$i} {
    margin-top: #{$i}px !important;
  }
  .margin-left-#{$i} {
    margin-left: #{$i}px !important;
  }
  .margin-bottom-#{$i} {
    margin-bottom: #{$i}px !important;
  }
  .margin-right-#{$i} {
    margin-right: #{$i}px !important;
  }
  .padding-#{$i} {
    padding: #{$i}px !important;
  }
  .padding-top#{$i} {
    padding-top: #{$i}px !important;
  }
  .padding-left-#{$i} {
    padding-left: #{$i}px !important;
  }
  .padding-bottom-#{$i} {
    padding-bottom: #{$i}px !important;
  }
  .padding-right-#{$i} {
    padding-right: #{$i}px !important;
  }
}

@for $i from 1 through 500 {
  .height-#{$i} {
    height: #{$i}px !important;
  }
  .min-height-#{$i} {
    min-height: #{$i}px !important;
  }
  .width-#{$i} {
    width: #{$i}px !important;
  }
  .min-width-#{$i} {
    min-width: #{$i}px !important;
  }
}