@import "variable";
@import "mixins";
// Middle Navbar

.middle-navbar {
  // logo
  .app-logo {
    width: 115px;
  }

  // Search Input Group
  .input-group-wrapper {
    width: calc(100% - 275px);
    height: 50px;
    margin-right: 0.625rem;
    margin-left: 0.625rem;

    .search-input-group {
      height: 100%;
      width: 100%;
      background: $default-bg;
      border-radius: 45px;
      color: $text-grey;


      .search-input {
        width: calc(100% - 75px);
        border: 0;
        background: $default-bg;

        &:focus-visible {
          outline: none;
        }
      }

      .search-icon {
        margin: auto 1.25rem;
        height: 20px;
        width: 20px;
      }
    }

    @media all and (max-width: 767px) {
      display: none;
    }
  }

  // Navbar Right Button

  .navbar-right-buttons {
    width: 140px;

    .action-btn {
      border: none;
      background: none;
      height: 24px;
      width: 24px;
      padding: 0;

      svg {
        height: 24px;
        width: 24px;
      }
    }
  }
}

@media all and (max-width: 767px) {
  .visible-md-search {
    position: relative;

    .input-group-wrapper {
      position: absolute;
      top: 100%;
      display: block;
      width: 92%;
      animation: search-input-animation;
      animation-duration: 2s;

      .search-input-group {
        border: 2px solid $text-grey;

        .search-input {
          width: calc(100% - 79px);
        }
      }
    }
  }
}

// Bottom Navbar
.bottom-navbar {
  height: 60px;
  background: $default-bg;

  .left-sidebar {

    .sidebar-btn {
      @include poppins;
      height: 60px;
      background: $primary;
      color: white;
      border-radius: 10px 10px 0 0;
      border: none;
      width: 100%;
      padding: 1.125rem 1.875rem;

      .sidebar-btn-text {
        margin-left: 1.75rem;
      }

      @media all and (max-width: 575px) {
        width: 100%;
        border-radius: 0;
      }
    }

    .left-sidebar-list {
      position: absolute;
      width: calc(100% - 24px);
      box-shadow: 0 30px 32px $default-bg;
      border-radius: 0 0 10px 10px;

      .list-group-item {
        padding: 1.125rem 1.875rem;
        color: #656973;
        border: none;
      }
      .list-item-divider {
        margin: 0 1.875rem;
        padding: 0;
        background: #CBD3D9;
        height: 1px;
      }
    }
  }

  .right-sidebar {
    .nav {
      justify-content: end;

      .nav-item {
        .nav-link {
          color: #999FAE;
        }

        .nav-with-submenu {
          .sub-item {
            display: none;
          }

          &:hover {
            position: relative;
            color: $dark;

            /*.sub-item {
              display: block;
              position: absolute;
              color: $text-grey;
              background: $default-bg;
              padding: 0.625rem;
              width: 200px;
              right: 0;
              top: 50px;
            }*/

            .nav-link-text {
              border-bottom: 3px solid $primary;
            }
          }
        }
      }

    }

    .sidebar-btn {
      display: none;
    }

    @media all and (max-width: 991px) {
      .nav {
        display: none;
      }
      .sidebar-btn {
        display: block;
        height: 60px;
        background: $primary;
        color: white;
        font-size: 16px;
        border-radius: 10px 10px 0 0;
        border: none;
        padding: 1.125rem 1.875rem;

        @media all and (max-width: 575px) {
          width: 100%;
          border-radius: 0;
        }
      }
    }

  }
}

@media all and (max-width: 575px) {
  .left-sidebar {
    width: 70%;
  }
  .right-sidebar {
    width: 30%;
  }
}