$primary: #5956E9;
$text-grey: #656973;
$dark: #27272E;
$blue-shade: #6865FF;

$text-dark: #292930;
$light-grey: #CBD3D9;


$default-bg: #F6F7FB;
$custom-badge-color: #E76458;
$animation-default-duration: 1s;